node_modules
build
dist
coverage
public
reports
*.log
*.lock
.turbo
.next
.out
.DS_Store
lcoV.info
coverage-summary.json
/.git
/.github
/.gitignore
package-lock.json
yarn.lock
pnpm-lock.yaml
tmp
*.min.js
Favicons/*
