version: "3.8"

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: ${REACT_APP_API_URL}
        REACT_APP_SOCKET_URL: ${REACT_APP_SOCKET_URL}
        REACT_APP_MODE: ${REACT_APP_MODE}
        REACT_APP_GROQ_API_KEY: ${REACT_APP_GROQ_API_KEY}
        REACT_APP_SOCKET: ${REACT_APP_SOCKET}

    container_name: react-prod
    ports:
      - "3000:80"
    restart: unless-stopped
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    networks:
      - ken-net
    volumes:
      - es_data:/usr/share/elasticsearch/data
    restart: unless-stopped
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
